<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">About Bart-Live</h3>
      </div>
      <div class="modal-body">
		  <h4>Features, facts, info and other stuff... </h4>
		   <div class="caption alignright">
		  	 <img src="/assets/jeff_headshot_small.jpg" title="Jeff Bellucci"/><br>
		 	 Bart-Live creator: Jeff Bellucci
		   </div>
		  <img src="/assets/bart_live_logo.png" class="alignleft"/>
		  <p> was created as my Capstone project for <b><a href="http://www.appacademy.io">App Academy</a></b>, an intensive web development bootcamp in San Francisco.  The inspiration for this project came from a desire to spend less time waiting for Bart trains and more time improving my coding skills.
		  </p>
		  <p>
		  Bart-Live is a Ruby on Rails based app utilizing a PostgreSQL database and deployed with GIT via Heroku.  On the front end, this app uses Javascript, Twitter Bootstrap, CSS, JQuery, and Ajax to create the (awesome) user interface.  In case you're curious how some of the features of this application work: 
	  	</p>
		  <p>The departure times are pulled from the official Bart API by my Rails server when you click on a station.  The closest station finder uses HTML 5's geolocation functionality in conjunction with the Google Places API (location services must be enabled on your browser for this feature to function).  Text reminders are stored in the database using Delayed Job, and sent using Twilio's SMS messaging API.  Data presentation is handled with JQuery and Ajax to avoid page reloads for most request which gives the app a single page feel.  I recommend checking back regularly for new features.
	  	</p>
		<p>
		If you are interested in viewing the source code for this project, please take a look at the <b><a href="https://github.com/jeffmbellucci/Bart-App">Github repository</a></b>. Now that I have completed App Academy, I am currently seeking employment as a web developer in the Bay Area.  If you are interested in getting in touch with me, feel free use the <a id="about_contact_link" data-toggle="modal" href="#contactModal"><b>contact</b></a> page and/or check out my <b><a href="http://www.linkedin.com/pub/jeff-bellucci/14/a1b/568">linkedIn profile</a></b>.  Thanks for using my website!
		</p>
	  </div>
    </div>
  </div>
</div>
	