<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Contact</h3>
      </div>
      <div class="modal-body">
		  <h4>Comments.  Suggestions.  Bugs.  Complaints...</h4>
        <div class="form-horizontal">
          <form action="MAILTO:jeffmbellucci@gmail.com" method="post" enctype="text/plain">

             <input id="subject" type="text" name="subject" placeholder="Subject">
      			 <!-- <input id="email" type="text" name="email" placeholder="Your email address"> -->
      			 <textarea id="email_body" name="email_body" type="textarea" placeholder="Your words go here..." ></textarea>

      			 <br>
      			 <br>

      			 <button type="submit" class="btn btn-inverse">Send</button>
      			 <button type="reset" class="btn btn-inverse">Reset</button>
                   <!-- <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button>  -->
      			 <br>
          </form>

		  <p> If you would like to contact me to suggest bugs, changes, new features, or anything else, feel free to use this form or email me directly at <a href="mailto:jeffmbellucci@gmail.com"><strong>jeffmbellucci@gmail.com</strong></a>.  I will respond to all emails ASAP.
      <p>

		  <p> Bart-Live is designed to be responsive and works well in any major browser on every laptop, tablet, or phone, I have tested it on.  If you find a device that it doesnt work properly on, please let me know.  Just FYI, I do not intentially support IE 10 or earlier, although most of the features likely still work.  Only a fraction of people use outdated IE, so the effort isn't worth the benefit. If you are one of the few old school IE fans and don't mind friendly suggestions, please consider a better free browsers like Chrome or Firefox, the developers of the world will thank you.
      </p>

		  <p><strong>Disclaimer:</strong> Please understand that Bart-Live is side project, and I don't have the time to add all the features I would like. Currently, custom text reminders are disabled, but I promise a dedication to a design update, adding the new Oakland Airport station and and whatever else I can think of.  Keep an eye out for new features, and the possibility of a version for the App Store if all goes to plan.
		  </p>

		  <p> Thanks for your interest in using my web app.  I hope it helps you save time here and there.  Knowing it's possible that something I made could be helping people even just a little, makes me very pround and want to keep improving this site.
      </p>
      <p> Thanks for your time.  Best, Jeff
      </p>
		</div>
  	  </div>
    </div>
  </div>
</div>
