<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Contact</h3>
      </div>
      <div class="modal-body">
		  <h4>Comments.  Suggestions.  Complaints...</h4>
        <div class="form-horizontal">
          <form action="MAILTO:jeffmbellucci@gmail.com" method="post" enctype="text/plain">
			 
             <input id="subject" type="text" name="subject" placeholder="Subject">
			 <!-- <input id="email" type="text" name="email" placeholder="Your email address"> -->
			 <textarea id="email_body" name="email_body" type="textarea" placeholder="Your words go here..." ></textarea>
			
			 <br>
			 <br>
			 
			 <button type="submit" class="btn btn-inverse">Send</button>
			 <button type="reset" class="btn btn-inverse">Reset</button>
             <!-- <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button>  -->
			 <br>
          </form>
		  If you would like to sign up for and try out text reminders, please use this form or email me directly at <a href="mailto:jeffmbellucci@gmail.com"><strong>jeffmbellucci@gmail.com</strong></a>.  Please put <b>"activation code"</b> in the subject field, and I will try to respond as quickly as I can.  
		  <br>
		  <br>
		  Bart-live is still very much in the testing phase.  The reminders feature is very useful, and in my opinion, the coolest part of this app.  If used correctly, I imagine you may never have to wait for another Bart train again...
		  <br>
		  <br>
		  <strong>Disclaimer:</strong> Since sending the reminders costs me money, and this site does not yet generate any revenue, I may not give everyone the activation code.  However, if you are a friend, a prospective employer, or you seem like a nice person and want to give the reminders a try, I will most likely oblige...  As long as it doesn't get too expensive.  Cheers. -Jeff
    	  <br>
	</div>
  </div>
</div>

