<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Contact</h3>
      </div>
      <div class="modal-body">
		  <h4>Comments.  Suggestions.  Bugs.  Complaints...</h4>
        <div class="form-horizontal">
          <form action="MAILTO:jeffmbellucci@gmail.com" method="post" enctype="text/plain">
			 
             <input id="subject" type="text" name="subject" placeholder="Subject">
			 <!-- <input id="email" type="text" name="email" placeholder="Your email address"> -->
			 <textarea id="email_body" name="email_body" type="textarea" placeholder="Your words go here..." ></textarea>
			
			 <br>
			 <br>
			 
			 <button type="submit" class="btn btn-inverse">Send</button>
			 <button type="reset" class="btn btn-inverse">Reset</button>
             <!-- <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button>  -->
			 <br>
          </form>
		  If you would like to sign up for text reminders, use this form or email me directly at <a href="mailto:jeffmbellucci@gmail.com"><strong>jeffmbellucci@gmail.com</strong></a>.  Please put <b>"activation code"</b> in the subject field, and I will respond ASAP.  The text messages from Bart-Live will come from (650)353-5181.
		  <br>
		  <br>
		  Bart-Live is designed to be mobile-friendly.  However, due to their complexity, setting up reminders works best on a computer-based browser, but will function adequately on a mobile device.
		  <br>
		  <br>
		  <strong>Disclaimer:</strong> Please understand that Bart-Live is still in the testing phase. Initially, all features will not be made publicly accessible. I reserve the right to change the activation code and/or deactivate features until this site can support the messaging and hosting. 
		  <br>
		  <br>
		  Thanks for your interest. -Jeff
	</div>
  </div>
</div>

