<div id="mapContainer">	
	<div id="stationsMap">
		<div class="mapText"> Click for <span class="live blue">live</span> station<br>departure times
		</div>
		<div id="linkContainer">
			<ul id="stationsList">
			<% @stations.each do |station| %>
			<li id="station_<%= station.abbr %>" >
				<%= link_to station.name, station_url(station), id: "station_" + station.id.to_s, class: "stationLink" %>
			</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
