
<h1>All Stations </h1>

<div id="mapContainer">	
	<div id="stationsMap">
		<ul id= "stationsList">
		<% @stations.each do |station| %>
		<li id= "station_<%= station.abbr %>" >
			<%= link_to station.name, station_url(station), id: station.id, class: "stationLink" %>
		</li>
		<% end %>
		</ul>
	</div>
</div>
