<div id="push"></div>

<div id="footer" class="navbar navbar-inverse">	
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav">
          <li><a data-toggle="modal" href="#aboutModal">About</a></li>
          <li><a data-toggle="modal" href="#contactModal">Contact</a></li>
        </ul>
    </div>
  </div>
</div>
<%= render "static_pages/contact" %>
<%= render "static_pages/about" %>
