<div class="navbar navbar-inverse">	
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag "bart_live_logo.png"%></a>
		 
        <ul class="nav">
          <li><a href="#">Times by Line</a></li>
          <li><a href="#">Closest Station</a></li>
		  <li><a href="#">Directions</a></li>
        </ul>
		
    </div>
  </div>
</div>
	
	
