<div class="accordion-group">
	  <span> Never used reminders before?</span> <a class="accordion-toggle" data-toggle="collapse" href="#signup_form">
	    Click here to sign up!</a> 
	<div id="signup_form" class="accordion-body collapse">
	  <div class="accordion-inner">
	    <form id="user_signup" action="/users" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input id="user_name" name="user[name]" type="text" placeholder="Name (max 12 letters)" style="width: 150px">
			
            <input id="phone_number" type="text" name="user[phone_number]" 
			 	class="input-medium bfh-phone" data-format="(ddd)ddd-dddd" placeholder="(555)555-5555">
			 
		 	<button type="submit" class="btn">Sign Me Up!</button>
            <button type="button" class="btn accordion-toggle" data-toggle="collapse" href="#signup_form" >Cancel</button>
         </form>
	  </div> <!--/.accordion-inner -->
	</div> <!-- /#signup_form -->
  </div> <!-- /.accordion-group -->