<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in for text reminders</h4>
      </div>
      <div class="modal-body">
		 <h5>Enter your phone number:</h5>
        <div class="form-horizontal">
          <form action="/sessions" method="post">
             <input id="phone_number" type="text" name="session[phone_number]" placeholder="(555)555-5555" 
			 	class="input-medium bfh-phone" data-format="(ddd)ddd-dddd">
			 <button type="submit" class="btn">Sign In</button>
             <!-- <button type="button" class="btn" data-dismiss="modal">Cancel</button> -->
          </form>
		</div>
		<%= render "shared/signup"%>
      </div>
    </div>
  </div>
</div>
 