<div id="spinnerView" class="bubble spinner">

	<div class="spinnerContainer">
		<div class="closeLink"> <a>close</a> </div>
		<div id="floatingBarsG">
			<div class="blockG" id="rotateG_01"></div>
			<div class="blockG" id="rotateG_02"></div>
			<div class="blockG" id="rotateG_03"></div>
			<div class="blockG" id="rotateG_04"></div>
			<div class="blockG" id="rotateG_05"></div>
			<div class="blockG" id="rotateG_06"></div>
			<div class="blockG" id="rotateG_07"></div>
			<div class="blockG" id="rotateG_08"></div>
		</div> 
		<div class="loadMessage"> 
			Loading times...
		<div>
	</div>
	
</div>