
.bubble {
position: absolute;
bottom: 33px;
left: -110px; /* Scooches bubble down 20px */
z-index: 1;
width: 240px;
//removed height so div would size dinamically
padding-top:5px;
padding-bottom: 5px;
padding-left: 8px;
padding-right: 10px;
background: #E6E6E6;
border: #000000 solid 3px; //007FFF 4px?
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
line-height: 20px;	
}

.bubble:after {
content: "";
position: absolute;
bottom: -25px;
left: 42%;  // 3px greater than "before" or 0.4% more
border-style: solid;
border-width: 25px 15px 0;
border-color: #E6E6E6 transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before {
content: "";
position: absolute;
bottom: -30px;
left: 41.2%; // 3px less than "after" or 0.4% less
border-style: solid;
border-width: 28px 18px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
}

.stationTitleContainer { 
	 padding-right:40px;
	 margin-bottom:5px;
 }
 
.stationTitle {
 	display: inline;
 	h4 {
		display: inline;
 		text-align: left;
 		line-height: 15px;
 	}
 }

.closeLink {
	position: absolute;
	top: 3px;
	right: 8px;
	a { 
		color: black; 
		font-family: futura;
	}
	a:hover {
		color: red;
		font-size: 100%;
	};
	a:active { 
		color: black;
	}  /* selected link */
}

.currentTime {
	padding-top:0px;
	margin-top:0px;
	font-family: futura;
	font-size: smaller;
	text-align: center;
	line-height:14px;
}
