.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

a:link { // unvisited link
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover, a:active { // mouse over
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF; 
}
a:active { // clicked link
	text-decoration: none;
	cursor: pointer;
	color: #999999;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	line-height: 0px;
}
