#mapContainer {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	height: 800px;
}

#stationsMap {
	position: relative;
	margin: 0 auto;
	background-image: url('new_map_square_10px.jpg');
	background-repeat: no-repeat;
	width: 960px;  
	height: 800px;
	// border: 3px solid #000000;
}

.mapText {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	color: #FFFFFF; 
	font-family: futura;
	font-size: 48px;
	letter-spacing: -2px;
	line-height: 44px;
}

#station_12th { 
	position: absolute; 
	top: 43.9%;
	left: 41.8%;
} 

#station_16th { 
	position: absolute; 
	top: 56.7%;
	left: 8.1%;
} 

#station_19th { 
	position: absolute; 
	top: 41%;
	left: 42%;
} 

#station_24th { 
	position: absolute; 
	top: 58.6%;
	left: 7.1%;
} 

#station_ashb { 
	position: absolute; 
	top: 34.2%;
	left: 33.2%;
} 

#station_balb { 
	position: absolute; 
	top: 62.5%;
	left: 7.3%;
} 

#station_bayf { 
	position: absolute; 
	top: 66%;
	left: 55.5%;
} 

#station_cast { 
	position: absolute; 	
	top: 70.7%;
	left: 61.8%;
} 

#station_civc { 
	position: absolute; 
	top: 54.9%;
	left: 11.6%;
} 

#station_cols { 
	position: absolute; 
	top: 58.9%;
	left: 49.6%;
} 

#station_colm { 
	position: absolute; 
	top: 71%;
	left: 10.7%;
} 

#station_conc { 
	position: absolute; 
	top: 16.6%;
	left: 69.6%;
} 

#station_daly { 
	position: absolute; 
	top: 67%;
	left: 1.5%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_dbrk { 
	position: absolute; 
	top: 31.8%;
	left: 23.4%;
} 

#station_dubl { 
	position: absolute; 
	top: 64.5%;
	left: 74%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_deln { 
	position: absolute; 
	top: 23%;
	left: 19.5%;
} 

#station_plza { 
	position: absolute; 
	top: 26%;
	left: 23.4%;
} 

#station_embr { 
	position: absolute; 
	top: 49.5%;
	left: 14%;
} 

#station_frmt { 
	position: absolute; 
	top: 96.3%;
	left: 67.4%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_ftvl { 
	position: absolute; 
	top: 55.3%;
	left: 46.8%;
} 

#station_glen { 
	position: absolute; 
	top: 60.5%;
	left: 9.8%;
} 

#station_hayw { 
	position: absolute; 
	top: 77.3%;
	left: 53.2%;
} 

#station_lafy { 
	position: absolute; 
	top: 27.5%;
	left: 54.9%;
} 

#station_lake { 
	position: absolute; 
	top: 51.6%;
	left: 44%;
} 

#station_mcar { 
	position: absolute; 
	top: 38%;
	left: 42.2%;
} 

#station_mlbr { 
	position: absolute; 
	top: 89.2%;
	left: 19.5%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_mont { 
	position: absolute; 
	top: 51.3%;
	left: 11.2%;
} 

#station_nbrk { 
	position: absolute; 
	top: 29%;
	left: 25.2%;
} 

#station_ncon { 
	position: absolute; 
	top: 12.9%;
	left: 74.9%;
} 

#station_orin { 
	position: absolute; 
	top: 31%;
	left: 50%;
} 

#station_pitt { 
	position: absolute; 
	top: 6%;
	left: 70%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_phil { 
	position: absolute; 
	top: 20.1%;
	left: 65%;
} 

#station_powl { 
	position: absolute; 
	top: 53.1%;
	left: 14.1%;
} 

#station_rich { 
	position: absolute; 
	top: 17%;
	left: 23%;
	.stationLink {
		font-size: 2em;
	}
} 

#station_rock { 
	position: absolute; 
	top: 34.7%;
	left:45.1%;
} 

#station_sbrn { 
	position: absolute; 
	top: 78.5%;
	left: 12.5%;
} 

#station_sfia { 
	position: absolute; 
	top: 80.4%;
	left: 25.5%;
	.stationLink {
		font-size: 1.5em;
	}
} 

#station_sanl { 
	position: absolute; 
	top: 62.4%;
	left: 52.5%;
} 

#station_shay { 
	position: absolute; 
	top: 83.1%;
	left: 53.9%;
} 

#station_ssan { 
	position: absolute; 
	top: 74.4%;
	left: 3.8%;
} 

#station_ucty { 
	position: absolute; 
	top: 89.8%;
	left: 62.4%;
} 

#station_wcrk { 
	position: absolute; 
	top: 23.9%;
	left: 59.9%;
} 
#station_wdub {
	position: absolute; 
	top: 69.5%;
	left: 74.8%;
}

#station_woak { 
	position: absolute; 
	top: 45%;
	left: 28%;
}