#mapContainer {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	height: 800px;
}

#stationsMap {
	position: relative;
	margin: 0 auto;
	background-image: url('map_no_text.jpg');
	background-repeat: no-repeat;
	width: 800px;  // 1000 x 1000?
	height: 800px;
	border: 3px solid #000000;
}

#station_12th { 
	position: absolute; 
	top: 42.4%;
	left: 46.1%;
} 

#station_16th { 
	position: absolute; 
	top: 55.9%;
	left: 5.3%;
} 

#station_19th { 
	position: absolute; 
	top: 39.4%;
	left: 46.1%;
} 

#station_24th { 
	position: absolute; 
	top: 57.9%;
	left: 4%;
} 

#station_ashb { 
	position: absolute; 
	top: 33%;
	left: 35.7%;
} 

#station_balb { 
	position: absolute; 
	top: 62.1%;
	left: 3.4%;
} 

#station_bayf { 
	position: absolute; 
	top: 65.2%;
	left: 63.1%;
} 

#station_cast { 
	position: absolute; 	
	top: 70.5%;
	left: 68.2%;
} 

#station_civc { 
	position: absolute; 
	top: 53.7%;
	left: 9.5%;
} 

#station_cols { 
	position: absolute; 
	top: 57.6%;
	left: 56.3%;
} 

#station_colm { 
	position: absolute; 
	top: 70.2%;
	left: 7.4%;
} 

#station_conc { 
	position: absolute; 
	top: 14.4%;
	left: 80.6%;
} 

#station_daly { 
	position: absolute; 
	top: 66.1%;
	left: 4.2%;
} 

#station_dbrk { 
	position: absolute; 
	top: 30.1%;
	left: 25%;
} 

#station_dubl { 
	position: absolute; 
	top: 63.8%;
	left: 87.7%;
} 

#station_deln { 
	position: absolute; 
	top: 21.1%;
	left: 19%;
} 

#station_plza { 
	position: absolute; 
	top: 24.1%;
	left: 24%;
} 

#station_embr { 
	position: absolute; 
	top: 47.7%;
	left: 12.4%;
} 

#station_frmt { 
	position: absolute; 
	top: 96.4%;
	left: 82.7%;
} 

#station_ftvl { 
	position: absolute; 
	top: 53.8%;
	left: 52.8%;
} 

#station_glen { 
	position: absolute; 
	top: 60%;
	left: 6.3%;
} 

#station_hayw { 
	position: absolute; 
	top: 77.2%;
	left: 60.2%;
} 

#station_lafy { 
	position: absolute; 
	top: 25.9%;
	left: 62.6%;
} 

#station_lake { 
	position: absolute; 
	top: 50.1%;
	left: 49%;
} 

#station_mcar { 
	position: absolute; 
	top: 36.2%;
	left: 34.5%;
} 

#station_mlbr { 
	position: absolute; 
	top: 88.9%;
	left: 22.7%;
} 

#station_mont { 
	position: absolute; 
	top: 49.6%;
	left: 9.5%;
} 

#station_nbrk { 
	position: absolute; 
	top: 27.1%;
	left: 26%;
} 

#station_ncon { 
	position: absolute; 
	top: 8.4%;
	left: 68.6%;
} 

#station_orin { 
	position: absolute; 
	top: 29.5%;
	left: 56.1%;
} 

#station_pitt { 
	position: absolute; 
	top: 3.5%;
	left: 82.6%;
} 

#station_phil { 
	position: absolute; 
	top: 18.2%;
	left: 74.9%;
} 

#station_powl { 
	position: absolute; 
	top: 51.7%;
	left: 11.9%;

} 

#station_rich { 
	position: absolute; 
	top: 16.3%;
	left: 23%;
} 

#station_rock { 
	position: absolute; 
	top: 33.4%;
	left:49.6%;
} 

#station_sbrn { 
	position: absolute; 
	top: 78.1%;
	left: 10.4%;
} 

#station_sfia { 
	position: absolute; 
	top: 79.2%;
	left: 24.7%;
} 

#station_sanl { 
	position: absolute; 
	top: 61.4%;
	left: 59.7%;
} 

#station_shay { 
	position: absolute; 
	top: 83.5%;
	left: 62.2%;
} 

#station_ssan { 
	position: absolute; 
	top: 74.1%;
	left: 0.9%;
} 

#station_ucty { 
	position: absolute; 
	top:90.3%;
	left:71.7%;
} 

#station_wcrk { 
	position: absolute; 
	top: 22%;
	left: 68.7%;
} 
#station_wdub {
	position: absolute; 
	top: 69.4%;
	left: 82.5%;
}

#station_woak { 
	position: absolute; 
	top: 43.5%;
	left: 27.5%;
}