#mapContainer {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	height: 800px;
}

#stationsMap {
	position: relative;
	margin: 0 auto;
	background-image: url('new_map_no_text.jpg');
	background-repeat: no-repeat;
	width: 960px;  // 1000 x 1000?
	height: 800px;
	// border: 3px solid #000000;
	//radius
}

#station_12th { 
	position: absolute; 
	top: 43.9%;
	left: 42%;
} 

#station_16th { 
	position: absolute; 
	top: 55.9%;
	left: 5.3%;
} 

#station_19th { 
	position: absolute; 
	top: 41%;
	left: 42%;
} 

#station_24th { 
	position: absolute; 
	top: 57.9%;
	left: 4%;
} 

#station_ashb { 
	position: absolute; 
	top: 33%;
	left: 35.7%;
} 

#station_balb { 
	position: absolute; 
	top: 62.1%;
	left: 3.4%;
} 

#station_bayf { 
	position: absolute; 
	top: 66%;
	left: 55.5%;
} 

#station_cast { 
	position: absolute; 	
	top: 70.7%;
	left: 61.8%;
} 

#station_civc { 
	position: absolute; 
	top: 53.7%;
	left: 9.5%;
} 

#station_cols { 
	position: absolute; 
	top: 58.9%;
	left: 49.6%;
} 

#station_colm { 
	position: absolute; 
	top: 70.2%;
	left: 7.4%;
} 

#station_conc { 
	position: absolute; 
	top: 16.6%;
	left: 69.4%;
} 

#station_daly { 
	position: absolute; 
	top: 66.1%;
	left: 4.2%;
} 

#station_dbrk { 
	position: absolute; 
	top: 30.1%;
	left: 25%;
} 

#station_dubl { 
	position: absolute; 
	top: 65%;
	left: 83%;
} 

#station_deln { 
	position: absolute; 
	top: 21.1%;
	left: 19%;
} 

#station_plza { 
	position: absolute; 
	top: 24.1%;
	left: 24%;
} 

#station_embr { 
	position: absolute; 
	top: 47.7%;
	left: 12.4%;
} 

#station_frmt { 
	position: absolute; 
	top: 95%;
	left: 67.8%;
} 

#station_ftvl { 
	position: absolute; 
	top: 55.3%;
	left: 46.8%;
} 

#station_glen { 
	position: absolute; 
	top: 60%;
	left: 6.3%;
} 

#station_hayw { 
	position: absolute; 
	top: 77.2%;
	left: 53.5%;
} 

#station_lafy { 
	position: absolute; 
	top: 27.5%;
	left: 54.7%;
} 

#station_lake { 
	position: absolute; 
	top: 51.6%;
	left: 44%;
} 

#station_mcar { 
	position: absolute; 
	top: 38%;
	left: 42.2%;
} 

#station_mlbr { 
	position: absolute; 
	top: 88.9%;
	left: 22.7%;
} 

#station_mont { 
	position: absolute; 
	top: 49.7%;
	left: 9.5%;
} 

#station_nbrk { 
	position: absolute; 
	top: 27.1%;
	left: 26%;
} 

#station_ncon { 
	position: absolute; 
	top: 12.9%;
	left: 74.7%;
} 

#station_orin { 
	position: absolute; 
	top: 31%;
	left: 49.8%;
} 

#station_pitt { 
	position: absolute; 
	top: 8.4%;
	left: 79.9%;
} 

#station_phil { 
	position: absolute; 
	top: 20.1%;
	left: 64.9%;
} 

#station_powl { 
	position: absolute; 
	top: 51.7%;
	left: 11.9%;

} 

#station_rich { 
	position: absolute; 
	top: 16.3%;
	left: 23%;
} 

#station_rock { 
	position: absolute; 
	top: 34.7%;
	left:45%;
} 

#station_sbrn { 
	position: absolute; 
	top: 78.1%;
	left: 10.4%;
} 

#station_sfia { 
	position: absolute; 
	top: 79.2%;
	left: 24.7%;
} 

#station_sanl { 
	position: absolute; 
	top: 62.4%;
	left: 52.5%;
} 

#station_shay { 
	position: absolute; 
	top: 83.1%;
	left: 54.6%;
} 

#station_ssan { 
	position: absolute; 
	top: 74.1%;
	left: 0.9%;
} 

#station_ucty { 
	position: absolute; 
	top: 89.8%;
	left: 63%;
} 

#station_wcrk { 
	position: absolute; 
	top: 23.9%;
	left: 59.7%;
} 
#station_wdub {
	position: absolute; 
	top: 69.3%;
	left: 75.6%;
}

#station_woak { 
	position: absolute; 
	top: 45%;
	left: 28%;
}