.navbar {
	margin-bottom: 0px;
	width:100%;
}

.navbar-inner {
	border-radius: 0px;
	height: 80px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.navbar .brand {
	padding-top: 16px;
	margin-left: 15%;
}

.navbar .nav > li {
	a {
	padding-top: 40px;
	color: #FFFFFF; 
	line-height: 5px;
	font-family: futura;
	font-size: xx-large;
	letter-spacing: -2px;
	}
	a:hover {
		color: #0033CC;
	};
	a:active { 
		color: black;
	}  /* selected link */	
}

#footer {
	.container {
		margin-left: 30%;
	}
	li {
		margin-left: 40px;
	}
}
