.navbar {
	height: 80px;
	border-color:#0033CC;
	border-bottom-width: 5px;
	border-bottom-style:solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navbar-inner {
	height: 80px ;
}
.navbar .brand {
	padding-top: 17px;
}