// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reminder_direction {
	width: 150px;
}

.input-small {
	width:109px;
}

.reminder_modal {
	width: 450px;
	min-height: 200px;
}

.reminder_list {
	padding-bottom: 400px;
}

.reminder_container {
	height: 50px;
	width: 400px;
}

.reminder_container div {
	display: inline-block;
}

.reminder_text {
	height: 30px;
	width: 330px;
}

.reminder_delete {
	height: 30px;
	width: 40px;
}

.reminder_link {
	position: absolute;
	top: 180px;
	left: 20%;
}

.reminder_close {
	position: absolute;
	left: 35%;
	bottom: 5px;
	padding-bottom: 0px;
}

.accordion-inner {
	padding: 0px;
	padding-bottom: 40px;
}

.modal-body {
	padding-bottom: 0px;
}
