// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reminder_direction {
	width: 150px;
}

.input-small {
	width: 107px;
}

.reminder_modal {
	width: 450px;
	min-height: 200px;
}

.reminder_list {
	padding-bottom: 400px;
}

.reminder_container {
	height: 50px;
	width: 400px;
}

.reminder_container div {
	display: inline-block;
}

.reminder_text {
	height: 30px;
	width: 330px;
}

.reminder_delete {
	height: 30px;
	width: 40px;
}

.reminder_link {
	position: absolute;
	width: 287px;
	height: 40px;
	top: 180px;
	left: 15%;
}

.reminder_button_container {
	width: 200px;
	height: 35px;
	position: absolute;
	left: 20%;
	bottom: 5px;
}

.reminder_button_container div {
	display: inline-block;
}

.reminder_close {
	position: relative;
	width: 65px;
	height: 30px;	
}

.reminder_refresh {
	position: relative;
	width: 115px;
	height: 30px;
}


.accordion-inner {
	padding: 0px;
	padding-bottom: 40px;
}

.modal-body {
	padding-bottom: 0px;
}

.reminder_notice {
	bottom: 30px;
	width: auto;
	padding: 3px;
	position: absolute;
	font-size: x-large;
	border-radius: 10px;
}

.green_notice {
	color: #298A08;  //#99CC66 matches green on map
	border: solid 3px #298A08;
	background-color: #BCF5A9;
}

.red_notice {
	color: #CC3333;
	border: solid 3px #CC3333;
	background-color: #F8E0E0;
}

.close {
	font-size: 30px;
}

.reminder_submit {
	
}
