#floatingBarsG{
position:relative;
margin: 0 auto;
width:35px;
height:44px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:6px;
height:14px;
-moz-border-radius:5px 5px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px 5px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px 5px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px 5px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px 5px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:16px;
-moz-animation-delay:0.3s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.3s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.3s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.3s;
-o-transform:rotate(-90deg);
animation-delay:0.3s;
transform:rotate(-90deg);
}

#rotateG_02{
left:5px;
top:6px;
-moz-animation-delay:0.4s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.4s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.4s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.4s;
-o-transform:rotate(-45deg);
animation-delay:0.4s;
transform:rotate(-45deg);
}

#rotateG_03{
left:15px;
top:2px;
-moz-animation-delay:0.5s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.5s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.5s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.5s;
-o-transform:rotate(0deg);
animation-delay:0.5s;
transform:rotate(0deg);
}

#rotateG_04{
right:5px;
top:6px;
-moz-animation-delay:0.6s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.6s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.6s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.6s;
-o-transform:rotate(45deg);
animation-delay:0.6s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:16px;
-moz-animation-delay:0.7s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.7s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.7s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.7s;
-o-transform:rotate(90deg);
animation-delay:0.7s;
transform:rotate(90deg);
}

#rotateG_06{
right:5px;
bottom:4px;
-moz-animation-delay:0.8s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.8s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.8s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.8s;
-o-transform:rotate(135deg);
animation-delay:0.8s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:15px;
-moz-animation-delay:0.9s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.9s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.9s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.9s;
-o-transform:rotate(180deg);
animation-delay:0.9s;
transform:rotate(180deg);
}

#rotateG_08{
left:5px;
bottom:4px;
-moz-animation-delay:1s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1s;
-o-transform:rotate(-135deg);
animation-delay:1s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}