.train {
	font-size: large;
	font-weight: bold;
	//-webkit-text-stroke-width: 0.5px;
	//-webkit-text-stroke-color: black;
 }

 
.blue {
	color: #0099CC;
}

.green {
	color: #99CC66;
}

.red {
	color: #CC3333;
}

.orange {
	color: #ff9933;
}

.yellow {
	color: #ffff00;
}

.white {
	color: #ffffff;
}

.stationLink {
	letter-spacing: -1px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 90%;
}


//make container with the map inside
//make position of links absolute inside of that container