.train {
	font-size: large;
	font-weight: bold;
	letter-spacing: -1px; // was 0px
 }

 
.blue {
	color: #0099CC;
}

.green {
	color: #298A08;  //#99CC66 matches green on map
}

.red {
	color: #CC3333;
}

.orange {
	color: #ff9933;
}

.yellow {
	color: #FFFF22;
}

.white {
	color: #ffffff;
}

.stationLink {
	letter-spacing: -1px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 100%;
	z-index: 10;
}


//make container with the map inside
//make position of links absolute inside of that container