.train {
	background-color: #000000;
	font-size: medium;
	font-weight: bold;
	border-radius: 6px;
	margin-right: 5px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-top:-1px;
 }

 
.blue {
	color: #0099CC;
}

.green {
	color: #99CC66;
}

.red {
	color: #CC3333;
}

.orange {
	color: #ff9933;
}

.yellow {
	color: #ffff00;
}

.white {
	color: #ffffff;
}

.stationLink {
	letter-spacing: -1px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 90%;
}


//make container with the map inside
//make position of links absolute inside of that container