// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit_form {
	
}

.phone_label {
	position: absolute;
	top: 7.1%;
	left: 28%;
}